@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

.container-fluid {
  background-image: url(../public/React.png);
  background-size: cover;
  min-height: 100vh;
}

.heading {
  font-family: 'Tangerine', serif;
  font-size: 80px;
  text-shadow: 4px 4px 4px #aaa;
}

.myFormContainer {
  background-color: #444444;
  text-shadow: 4px 4px 4px #aaa;
  border-radius: 10px;
  height: 100px;
  width: 500px
}

form .btn {
  background-color: #FFAC33;
  margin: 40px 0;
}

form .btn:hover {
  background-color: #c58627;
}

label {
  text-shadow: none;
}

ul {
  list-style: none;
}

.myListContainer {
  background-color: #444444;
  text-shadow: 1px 1px 1px #aaa;
  border-radius: 10px;
  height: 80px;
  width: 400px
}

li .btn {
  border-radius: 50%;
  border: none;
  height: 50px;
  width: 50px;
  cursor: pointer;
}